<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="root"></div>
    <div>
      <svg>
        <line
          id="strike1"
          x1="0"
          y1="0"
          x2="0"
          y2="120"
          stroke="black"
          stroke-width="3"
        />
        <line
          id="strike2"
          x1="0"
          y1="0"
          x2="60"
          y2="0"
          stroke="black"
          stroke-width="3"
        />
        <circle id="strike3" cx="60" cy="30" r="15" style="color: green" />
        <line
          id="strike4"
          x1="60"
          y1="0"
          x2="60"
          y2="15"
          stroke="black"
          stroke-width="3"
        />
        <line
          id="strike5"
          x1="60"
          y1="45"
          x2="60"
          y2="90"
          stroke="black"
          stroke-width="3"
        />
        <line
          id="strike6"
          x1="35"
          y1="60"
          x2="85"
          y2="60"
          stroke="black"
          stroke-width="3"
        />
        <line
          id="strike7"
          x1="60"
          y1="90"
          x2="35"
          y2="120"
          stroke="black"
          stroke-width="3"
        />
        <line
          id="strike8"
          x1="60"
          y1="90"
          x2="85"
          y2="120"
          stroke="black"
          stroke-width="3"
        />
      </svg>
    </div>
  </body>
</html>
